# Folders
.doc
.github

# Documents
*.pdf

# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
results

# Java
*.class
*.jar
*.war
*.ear

# Visual Studio Code
.vscode/

# macOS system files
.DS_Store

# Log files
*.log

# Build directories
build/
dist/
out/

# Temporary files
*.bak
*.tmp
*.swp
*.swo

# Docker
.docker/

# JetBrains IDE
*.iml
.idea/

# Maven
target/
.mvn

# npm package-lock
package-lock.json

# Rust
target/
*.redb

# pnpm deploy output
bundle/

# Hardhat Build Artifacts
artifacts/

# Hardhat compilation (v2) support directory
cache/

# Typechain output
types/

# Hardhat coverage reports
coverage/
